.profile-nav ul li{
    position: relative;
}
.profile-nav ul li .logout-dropdown{
    padding: .5em;
    position: absolute;
    top: 25px;
    right: 2px;
    transform: scale(1,0);
    transform-origin: top;
    transition: .5s ease;
    width: 100%;
    background: #fff;
    border-radius: 3px;
}
.profile-nav ul li .logout-dropdown:hover{
    background-color: #eee;
}
.profile-nav ul li .active-logout-dropdown{
    transform: scale(1,1);
}
.profile-nav ul li .logout-dropdown li a{
    color: #fff;
    text-align: center;
    font-size: .9em;
    background: #000;
    display: inline-block;
    width: 100px;
    padding: .5em 1em;
    width: 120px;
    border-radius: 3px;
}
.profile-nav ul li i{
    margin: 0 .3em;
}
.profile-container{
display: flex;
justify-content: center;
gap: 2em;
margin: 1em 0;
}

.profile-list{
    background: #fff;
    padding: 2em;
    width: 250px;
    border-radius: 8px;
}
.profile-list h1{
    text-align: center;
}
.profile-list-section{
    display: grid;
    gap: 2em;
    margin-top: 4em;
}
.profile-list-section .profile-list-btn-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: .5em 0;
}
.profile-list-section .profile-list-btn-section i{
    color: #ccc;
}
.profile-list-section .profile-list-btn-section button {
    border: 0;
    background: 0;
    text-align: left;
    /* font-size: 1em; */
    width: 100px;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    color: #333;
    text-transform: uppercase;
}
.profile-list-section button::after{
    content: '';
    background-color: tomato;
    position: absolute;
    top: -10px;
    bottom: 0;
    right: 2px;
    width: 3px;
    height: 40px;
    transform: scale(1,0);
    transform-origin: center;
    transition: .5s ease;
}
.profile-list-section button:hover::after{
    content: '';
    background-color: tomato;
    position: absolute;
    top: -10px;
    bottom: 0;
    right: 2px;
    width: 3px;
    height: 40px;
    transform: scale(1,1);
    transform-origin: center;
    transition: .5s ease;
}
.profile-details{
    background: #fff;
    padding: 1em;
    width: 60%;
    border-radius: 8px;
}
.profile-details .dashboard figure{
    display: flex;
    align-items: center;
    gap: 3em;
    padding: 1em;
}
.profile-details .dashboard figure .figure-image{
    position: relative;
}
.profile-details .dashboard figure .figure-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 0 5px #dca;
    object-fit: cover;
}

.profile-details .dashboard figure .figure-image i{
    position: absolute;
right: 0px;
bottom: 20px;
background: #dca;
padding: .5em;
border-radius: 50%;
cursor: pointer;
}
.profile-details .dashboard figure figcaption h2{
    margin-bottom: .5em;
    font-weight: 400;
}
.profile-details .dashboard figure figcaption p{
    font-weight: 300;
}

.dashboard-details{
    margin-top: 1em;
    padding-left: 2em;
}
.profile-details .details-box{
    display: flex;
    align-items: center;
    margin: 2em 0;
}
.profile-details .details-box p{
    width: 150px;
    color: #000;
}

.profile-details .details-box p i{
    margin-left: 2em;
}

/* profile user info */
.user-info{
    padding: 1em;
    display: none;
}

.user-info-section form{
    display: grid;
    grid-template-columns: 200px  200px;
    gap: 1.5em;
    padding: 1em;
}
.user-info h1{
    margin-bottom: 1em;
    margin-left: .5em;
}
.user-info-section p{
    margin-bottom: .5em;
    font-size: 1.12em;
    letter-spacing: 1.5px;
    font-weight: 100;
}
.user-info-section input{
    padding: .5em;
    border: 0;
    border: 1px solid #ccc;
    outline: 0;
    border-radius: 5px;
    width: 100%;
    caret-color: #54BAB9;
}
.user-info-section input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0; 
}
.user-info-section textarea{
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: 0;
    padding: .5em;
    caret-color: #54BAB9;
}
.user-info button{
    background-color: #54BAB9;
    padding: .5em 1.5em;
    width: 150px;
    outline: none;
    border: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 1.25em;
    margin-top: 2em;
    cursor: pointer;
    border-radius: 3px;
}

/* orders section */
.order-history{
    padding: 1em;
    display: none;
}
.order-history h1{
    margin-bottom: 1em;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 100;
}
.order-history table{
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.order-history table .product-info{
    font-weight: 100;
}
.order-history table tr{
    vertical-align:middle;
    padding: 1em;
    padding: 2em;
}

.order-history table tr td{
    padding: 2em  0;
}

.order-history table .product-tray{
    border-bottom: 1px solid #ddd;
}
/* toggling of profile details through buttons*/
.userinfo-active .user-info{
    display: block;
}
.userinfo-active .dashboard,
.userinfo-active .order-history{
    display: none;
}
.userorders-active .order-history{
display: block;
}
.userorders-active .user-info,
.userorders-active .dashboard{
    display: none;
}

/* profile popup */
.profile-popup{
    height: 350px;
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    background-color: #fff;
    z-index: 2;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
    transform-origin: top;
}
.profile-popup i{
    position: absolute;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
}
.active-popup{
    height: 350px;
    box-shadow:  0 0 5px #ccc;
    padding: 1em;
}

.active-popup::before{
    content: '';
    background: rgba(0,0,0,.5);
    inset: 0;
    
}
/* body popup background */
.popup-background::after{
    content: '';
    background: rgba(0,0,0,.8);
    position: absolute;
    inset: 0;
}